html,body
{margin:0;}

html { 
  height: 100%;
}

body { 
  background: #222 url(pattern.png);
  color: #BBB;
  padding-bottom: 40px;
}

ul { 
  margin: 2px 0 22px 17px;
}

ul li { 
  list-style-type: circle;
  margin: 0 0 0 0; 
  padding: 0 0 4px 5px;
}

nav { 
  height: 26px;
  width: 720px;
  margin: 1px auto 0 auto;
  float: right;
  padding: 35px 0 0 0;
} 

ul.images {
  list-style:none;
  width:450px;
  height:450px;
  overflow:hidden;
  position:relative;
  margin:0;
  padding:0;
} 

ul.images li {
  position:absolute;
  margin:0;
  padding:0;
  left:0;
  right:0;
}
 
ul.images li.show {
  z-index:500;  
}
 
ul img {
  border:none;  
}

